@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GeneralSansBold";
  src: local("GeneralSansBold"),
    url("./fonts/GeneralSans-Bold.woff") format("woff"),
    url("./fonts/GeneralSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "GeneralSansSemibold";
  src: local("GeneralSansSemibold"),
    url("./fonts/GeneralSans-Semibold.woff") format("woff"),
    url("./fonts/GeneralSans-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "generalRegular";
  src: local("generalRegular"),
    url("./fonts/GeneralSans-Regular.woff") format("woff"),
    url("./fonts/GeneralSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "GeneralSansLight";
  src: local("GeneralSansLight"),
    url("./fonts/GeneralSans-Light.woff") format("woff"),
    url("./fonts/GeneralSans-Light.woff2") format("woff2");
}

@layer {
  .hero-bg {
    background: linear-gradient(to right, rgb(0 0 0 / 80%), rgb(33 33 33 / 80%)),
      url("./assets/hero-bg.png");
    background-size: cover;
  }

  /* .hero-bg {
    background: url("./assets/hero-bg.png"),
      lightgray -10px -18.68px / 100.709% 104.909% no-repeat;

    background-size: cover;
  } */
}
